<log4net>
	<root>
		<level value="ALL" />
		<appender-ref ref="RollingFile" />
	</root>
	<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
		<appendToFile value="true" />
		<file value="D:\Bijin\TweetappComponent2UC_32bf04e4-31ef-4007-95f5-3014e456b48e_YJ.Suprith@cognizant.com (1)\TweetappComponent2UC\logs\logfile" />
		<rollingStyle value="Date" />
		<datePattern value="yyyyMMdd" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %-5level %logger.%method [%line] - MESSAGE: %message%newline" />
		</layout>
	</appender>
</log4net>